### Python ###
# Базовые правила для Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd

# Виртуальные окружения
.venv/
venv/
env/
ENV/

# Кэши и логи
.mypy_cache/
.cache/
*.log
*.cache

### IDE ###
.idea/
.vscode/
*.swp
*.swo

### Environment ###
.env
.env[.local]
.env.*
!.env.example

### Database ###
*.sql
*.sqlite
*.db

### Build & Distribution ###
build/
dist/
*.egg-info/
*.whl

### Test files ###
#test_data_*
!test_*.py
