/venv
**/__pycache__/
.mypy_cache/
.env
.venv
test_data_db.sql
.idea

# Игнорировать скомпилированные Python-файлы
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
.venv/
venv/
env/

# Игнорировать логи и кэш
*.log
.idea/
**/__pycache__/
.cache
/.env
/.mypy_cache/
/test_data_db.sql
/app/tasks/__pycache__/
/app/__pycache__/
*.cache

# Игнорировать файлы сборки и дистрибуции
build/
dist/
*.egg-info/
